body {
    background-color: rgb(32, 32, 32);
    background-image: url("https://image.winudf.com/v2/image/Y29tLlBSSVNTSS5XYWxscGFwZXIuQmxhY2suQmxhY2tCYWNrZ3JvdW5kV2FsbHBhcGVySERfc2NyZWVuXzhfMTUyOTQ1MzU2MF8wNDk/screen-8.jpg?fakeurl=1&type=.jpg");
    color: rgb(230, 230, 230);
    text-align: center;
    font-family: 'Comic Sans', cursive;
    font-size: 0.7em;
}

.title {
    color: rgb(245, 247, 232);
    text-align: center;
    font-size: 50px;
    margin-top: 7%;
}
  
.display {
    color: rgb(230, 66, 173);
    font-size: 30px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
}
  
.hide {
    display: none;
 }
  
.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
  
.tile {
    border: 2px solid rgb(232, 220, 220);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
  
.playerX {
    color: #ddc935;
}
  
.playerO {
    color: rgb(35, 214, 230);
}
  
.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}
  
.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
  
.restart {
    background-color: rgb(230, 205, 205);
}
  
#reset {
    background-color: rgb(30, 120, 217);
}